body{
    margin: 0;
    display: block;
    background-color: rgb(234, 234, 234);
    -webkit-tap-highlight-color: transparent;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    -webkit-tap-highlight-color: transparent;
}

.container {
    max-width: 1700px;
    padding-left: 10px; padding-right: 10px;
    display: flex;
    margin: 0 auto;
    flex-flow: row wrap;
}

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
    display: none;
  }
  /* стилизуем кнопку */
  .menu__btn {
    align-items: center;  /* центрируем содержимое кнопки */
    position: absolute;
    top: 35px;
    left: 25px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 8;

    transition: all 0.4s;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .hamburger-menu {
    display: flex;
    left: 0px;
  }
  #menu__toggle:checked ~ .tooltip_back {
    animation-fill-mode:forwards;
	animation-name: row_button_animation;
	animation-duration: 0.5s;
	animation-timing-function: cubic-bezier(.19,1,.22,1);
	display: flex;
  }

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}

.hamburger-menu {
    position: fixed;
    top: 0;
    left: -80%;
    height: 100%;
    width: 80%;
    background-color: white !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;


    transition: all 0.4s;
    transition-timing-function: cubic-bezier(0.33, 0.63, 0.18, 1.04);
}

.top_mobile_line_text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: sans-serif;
    background-color: white;
    border-radius: 10px;
    border-color: #5e5e5e;
    border-width: 2px;
    border-style: solid solid;
    color: #000000;
    text-decoration: none;
    margin-bottom: 20px;
}

.top_mobile_line_text:first-child {
    margin-top: 66px;
}

.exit_img{
    min-width: 24px; min-height: 24px;
    width: 1.25vw; height: 1.25vw;
    background-size: cover;
    background-position: center;
}

#tooltip {
    min-height: 40px;
    width: 90%;
    height: 40%;
    left: 5%;
    bottom: 10px;
    position: absolute;
    flex-direction: column;
    background-color: #f7f7f7;
    border-radius: 25px;
    z-index: 2;
    opacity: 0;
    display: none;
}

#form {
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    resize: none;
    height: 100%;
    background-color: #f7f7f7;
	border-width: 0px;
    border-radius: 10px;
    background-position: center center;
    border-color: #000000;
    border-style: solid;
	z-index: 8;
}

#tooltip._active{
	animation-fill-mode:forwards;
	animation-name: row_button_animation;
	animation-duration: 0.5s;
	animation-timing-function: cubic-bezier(.19,1,.22,1);
	display: flex;
}

.date_block {
    margin: 10px 10px 0px auto;
    height: 50px;
    display: flex;
    width: fit-content;
    font-family: sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    font-size: 18px;
}

.date {
    cursor: pointer;
    user-select: none;
    text-align: center;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-left: #bababa 1px solid;
    border-right: #bababa 1px solid;
    font-size: 15px;
}

.arrow {
    user-select: none;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
}

.arrow:first-child {
    border-radius: 10px 0 0px 10px;
}
.arrow:last-child {
    border-radius: 0 10px 10px 0px;
}

.no_lessons {
    margin-top: 10px;
    width: 100%;
    background-color: white;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0.63vw 0.52vw 1.56vw 0px rgb(0 0 0 / 40%);
}

.main_table {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lesson_block {
    cursor: pointer;
    user-select: none;
    position: relative;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    font-size: 15px;
    overflow: hidden;
}

.type {
    top: 0;
    position: absolute;
    height: 100%;
    right: 0;
    width: 4px;
    background-color:cornflowerblue;
}

.add_block {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.descr {
    user-select: none;
    cursor: pointer;
    background-color:aliceblue;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    font-family: sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    font-size: 15px;
}
.descr:nth-child(3n - 2) {
    margin-top: 20px;
}

.tooltip_back{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #00000088;
    position: fixed;
    z-index: 2;
    top: 0;
}
.tooltip_back._active{
    animation-name: row_button_animation1;
    display: block;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.19,1,.22,1);
    animation-fill-mode:backwards;
}

.a_table_style {
    cursor: pointer;
    display: flex;
    min-height: 70px;
    width: 100%;
    border-width: 0px;
    border-radius: 0 0 20px 20px;
    background-color: firebrick;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-size: max(1.2vw, 19px);
    font-weight: 400;
    align-items: center;
    justify-content: center;
}

@keyframes row_button_animation1{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


@keyframes row_button_animation{
	0%{
		transform: translate(min(-100px, -5.21vw), 0);
		opacity: 0;
	}
	100%{
		transform: translate(0, 0);
		opacity: 1;
	}
}